.product-cart-main {
    padding: 4rem 2rem;
}

.product-cart-heading {
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 2.4rem; */
    width: 700px;
    max-width: 90%;
    margin: 1rem auto 2.4rem auto;
    cursor: pointer;
    /* white-space: nowrap; */
    flex-wrap: wrap;
}

.product-cart-heading a:nth-child(1) {
    border-bottom: 1px solid black;
}

.product-cart-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: auto;
}

.product-cart {
    width: 23%;
}

.product-cart img {
    width: 100%;
    height: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.product-cart p {
    font-size: 0.9rem;
    text-align: center;
    margin: 1rem 0;
}

.product-cart-button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    text-decoration: none;
    background-color: green;
    color: black;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.product-cart-button div span:nth-child(1) {
    font-weight: 600;
}

.product-cart-button div span:nth-child(2) {
    font-size: 0.8rem;
    border-right: 1px solid black;
    padding: 0 0.5rem;
    text-decoration: line-through;
    color: red;
}


@media screen and (max-width: 1024px) {
    .product-cart-container {
        gap: 3rem;
    }

    .product-cart {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {

    .product-cart-main{
        padding: 0rem;
    }

    .product-cart-heading{
        font-size: 1rem;
        /* margin: 1rem auto 2.4rem auto; */
        margin: 2rem auto;
        gap: 10px;
    }

    .product-cart-container{
        gap: 6rem 1rem;
    }

    .product-cart{
        width: 45%;
    }

}

@media screen and (max-width: 600px) {

    .product-cart-container{
        justify-content: center;
    }

    .product-cart{
        width: 90%;
    }
}